.logo
{
  width: 30%;
  height: 30%;
  margin: auto;
}

.input-icon
{
  position: relative;
  top: 25px;
}

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

p
{
  color: grey;
}
